# ignore directorys
ignore-me
test-env

# ignore logs directory
logs

# ignore configuration
config.json

# ignore archived files
*.tar
*.tgz

# remote mount point
remote-mount

# vscode settings
.vscode
